[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"discord.py" = "*"
python-valve = "*"
python-dotenv = "*"
master = {editable = true, git = "https://github.com/theskumar/python-dotenv"}
aioquery = "*"
tortoise-orm = {editable = true, git = "https://github.com/tortoise/tortoise-orm", ref = "0.16.13"}
pylint = "*"
black = "*"
pyyaml = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
